NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_ZnVuLXJhdHRsZXItNzEuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_Ri4yfkCuEv235tfxZW7YpZ2s7WlYB0PovV1x9RJWJA
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
SIGNING_SECRET=whsec_CVYSfF..
MONGODB_URI=mongod....
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB1Pb1..
URL=http://localhost:3000